<div class="container">
	<img src="{{photo}}" /> <br/>
	<span>{{username}}</span>
</div>
<br/>
<h2>Pendientes:</h2>
<br/>
<div class="container">
	<div class="card" *ngFor="let historia of historias">
	  <h5 class="card-header">{{historia.subject}}</h5>
	  <div class="card-body">
	  	<img src="{{historia.assigned_to_extra_info.photo}}" />
	    <h5 class="card-title">Asignada a: {{historia.assigned_to_extra_info.username}}</h5>
	    <p class="card-text">Estado: {{historia.status_extra_info.name}}</p>
	  </div>
	</div>
</div>