<form [formGroup]="loginForm" novalidate>
        <div class="form-group">
            <label>username:</label>
            <input class="form-control" formControlName="username" type="text">
        </div>
        <div *ngIf="validoUsername==false" class="alert alert-danger">
            <div>
              username es requerido.
            </div>
        </div>
         <div class="form-group">
            <label>password:</label>
            <input class="form-control" formControlName="password" type="password">
        </div>
        <div *ngIf="validoPassword==false" class="alert alert-danger">
            <div>
              password es requerido.
            </div>
        </div>
        <div *ngIf="validoDatosCorrectos==false" class="alert alert-danger">
            <div>
              Nombre de usuario o contraseña inválidos.
            </div>
        </div>
        <button type="button" (click)="validarDatos()" class="btn btn-success">
            Login
        </button>
  </form>
  <br />
  <!-- <p>Form value: {{ loginForm.value | json }}</p>
  <p>Form status: {{ loginForm.status | json }}</p> -->